top {
  font-family: 宋体;
  color: #ffFF00;
  font-size:16;
  display:inline;
}
space{
	font-size:26;
	letter-spacing:15;
	display:inline;
}
headtext{
	font-family: 宋体;
	color: #ffffff;
	font-size:16;
	text-align:center;
	display:block;
	text-align:center;
}
root {
	font-family: 宋体;
	color: #ffFF00;
	font-size:16;
	display:inline;
}
white {
	font-family: 宋体;
	color: #ffffff;
	font-size:16;
	display:inline;
}
green {
	font-family: 宋体;
	color: #6CDC4D;
	font-size:16;
	display:inline;
}
blue{
	font-family: 宋体;
	color: #0099FF;
	font-size:16;
	display:inline;
}
purple{
	font-family: 宋体;
	color: #FF33FF;
	font-size:16;
	display:inline;
}
yellow{
	font-family: 宋体;
	color: #FEF043;
	font-size:16;
	display:inline;
}
gold{
	font-family: 宋体;
	color: #F6CF00;
	font-size:16;
	display:inline;
}
orange{
	font-family: 宋体;
	color: #E9A954;
	font-size:16;
	display:inline;
}
red{
	font-family: 宋体;
	color: #FC2200;
	font-size:16;
	display:inline;
}
.white {
	font-family: 宋体;
	color: #ffffff;
	font-size:16;
	display:inline;
}
.green {
	font-family: 宋体;
	color: #6CDC4D;
	font-size:16;
	display:inline;
}
.blue{
	font-family: 宋体;
	color: #0099FF;
	font-size:16;
	display:inline;
}
.purple{
	font-family: 宋体;
	color: #FF33FF;
	font-size:16;
	display:inline;
}
.yellow{
	font-family: 宋体;
	color: #FEF043;
	font-size:16;
	display:inline;
}
.gold{
	font-family: 宋体;
	color: #F6CF00;
	font-size:16;
	display:inline;
}
.orange{
	font-family: 宋体;
	color: #E9A954;
	font-size:16;
	display:inline;
}
.red{
	font-family: 宋体;
	color: #FC2200;
	font-size:16;
	display:inline;
}
.bold {
	font-family: 宋体;
	color: #00ff00;
	display:inline;
	font-weight: bold;
}
.rightText{
	font-family: 宋体;
	align:right;
}
.emphasis {
	font-weight: bold;
	font-style: italic;
}
a {
	font-family: 宋体;
	color: #ffcccc;
	text-decoration: underline;
	font-size:22;
	display:inline;
}
xiahuaxian {
	font-family: 宋体;
	color: #ffffff;
	text-decoration: underline;
	font-size:22;
	display:inline;
}
.e_white{
	font-family: 宋体;
	color: #ffffff;
	font-size:22;
	display:inline;
}
.e_green{
	font-family: 宋体;
	color: #00cc00;
	font-size:22;
	display:inline;
}
.e_blue{
	font-family: 宋体;
	color: #319ACE;
	font-size:22;
	display:inline;
}
.e_purole{
	font-family: 宋体;
	color: #660099;
	font-size:22;
	display:inline;
}
.e_orange{
	font-family: 宋体;
	color: #FF9900;
	font-size:22;
	display:inline;
}
.e_red{
	font-family: 宋体;
	color: #ff0000;
	font-size:22;
	display:inline;
}
.xhx {
	font-family: 宋体;
	color: #e1dcb6;
	text-decoration: underline;
	font-size:20;
	display:inline;
}